body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 15px 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    color: #38bdf8;
}

/* CONTAINER CENTRAL */
.container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

/* BOX PRINCIPAL */
.box {
    width: 100%;
    max-width: 900px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
