body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1220;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background: #111a2e;
    border-bottom: 1px solid #1f2a44;
}

.navbar a {
    color: #cbd5e1;
    margin-left: 15px;
    text-decoration: none;
}

.navbar a:hover {
    color: #38bdf8;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

/* CARD */
.card {
    background: #111a2e;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 8px;
    border: none;
}

/* BOTÃO */
button {
    background: #3b82f6;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #2563eb;
}
